.App * {
  font-family: "Andika";

}

.wrapper{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  height: 95%;
  background-color: ivory;
  padding: 25px;
}
.App{
  height: 600px;
}
.header h2{
  margin: 50px 0;
}
.start-screen p{
  font-size: 18px;
}
.start-screen button{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}
.start-screen button:hover{
  background-color: lemonchiffon;
}
