.App * {
  font-family: "Andika";

}

.wrapper{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: ivory;
  padding: 25px;
}
@media (max-width: 700px) {
  .wrapper{
    width: 100%;
    padding: 0;
    padding-top: 20px;
    height: 100%;
  }
  .App{
    height: 100vh;
    background-color: ivory;
  }
}
.App{
  height: 100vh;
}
.header h2{
  margin: 50px 0;
}
.start-screen p{
  font-size: 18px;
}
.start-screen button{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}
.start-screen button:hover{
  background-color: lemonchiffon;
}
